body {
  background: linear-gradient(to top right, #F3904F, #808080);
    /* background-image: url(/src/assets/images/foto\ wikrama\ atas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  */
  
}
